@page "/Login"

<h3>Login</h3>
@if (isSuscess)
{
    <h3>Thanh cong</h3>
}
else { 
    <h3>Dang Nhap</h3>
}

<EditForm Model="user" OnSubmit="LoginAction">
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="user.Username" />
        </div>
    </div>
    <div class="form-group row">
        <label for="supplier" class="col-md-2 col-form-label">Supplier:</label>
        <div class="col-md-10">
            <InputText id="supplier" class="form-control" @bind-Value="user.password" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</EditForm>
@code {

}
